---

interface Props {
    title: string;
    date: string;
    linkGit: string;
    linkSite: string;
}

const { title, date ,linkGit, linkSite } = Astro.props

---

    <li class="over-opacity">
        <div>
            <p class="title">{title}</p>
            <p class="date">{date}</p>
        </div>

        <div>
            <a href={linkSite}>
                <div class="cercle-button">
                    <div class="arrow">
                        <div><span></span></div>
                        <div><span></span></div>
                        <div><span></span></div>
                    </div>
                </div>
                <p class="title">Visiter</p>
            </a>
            <a class="git-link" href={linkGit}>Dépôt Git</a>
        </div>
    </li>
    <span class="line"></span>

<style>
    h4 {
        font-size: clamp(1.5625rem, 0.4911rem + 2.8571vw, 2.8125rem); /* 45 > 25 */
		font-weight: 200;
        margin-bottom: 30px;
    }

    li {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0;
        overflow: hidden;
    }

    li > div:first-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: .4s;
    }

    li > div:last-child {
        position: absolute;
        top: 50%;
        transform: translateY(100%);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        transition: .4s;
    }

    li:hover {
  
    }

    li:hover > div:first-child {
        transform: translateY(calc(-100% - 30px));
    }

    li:hover > div:last-child {
        transform: translateY(-50%);
    }

    li div:last-child a {
        color: rgb(var(--black));
    }

    li div:last-child a:first-child {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .cercle-button {
        width: 85px;
        aspect-ratio: 1/1;
    }

    .title {
        font-size: 50px;
        font-weight: 200;
    }

    .git-link {
        font-size: 25px;
        font-weight: 200;
    }
</style>

<script>

    import { animLine } from '../js/libray.js'
    import { animSlide } from '../js/libray.js'
    import { animOpacity } from '../js/libray.js'

    const ratioTrigger = "top 80%"

	document.querySelectorAll('ul .line').forEach(line => {
		animLine(line, ratioTrigger, line)
	})

    document.querySelectorAll('ul li').forEach(title => {
        console.log(document.querySelectorAll(`${title} .date, ${title} .title`))
		animSlide(title, ratioTrigger, `${title} .date, ${title} .title`, 0, '50%', 0)

        //animOpacity(title, ratioTrigger, title.querySelectorAll('ul div:last-child :is(.cercle-button, .title, .git-link)'), 0)
        
        //console.log(title.querySelectorAll('.cercle-button, .title, .git-link'))
	})

    /*document.querySelectorAll('ul li .title').forEach(text => {
		animSlide(text.querySelector('div:first-child :is(.title, .git-link)'), ratioTrigger, text.querySelector('div:first-child :is(.title, .git-link)'), 0, '50%', 0)
        animOpacity(text, ratioTrigger, text.querySelectorAll('div:first-child :is(.title, .git-link, .date)'), 0)
        animOpacity(text, ratioTrigger, text, 0)
        console.log(text.querySelectorAll('div:first-child :is(.title, .git-link, .date)'))
	})*/

</script>